:root {
	--main-text-color: #757575;
	--main-title-color:  #212121;
	--main-accente-color: #2196F3;
	--white-color: #FFFFFF;
	--maim-bg-color: #F5F4FA;
	--accente-bg-color: #2F303A;
	--main-icon-color:#AFB1B8;

	--grid-item:1;
	--grid-margin: 30px;

	--transform-time: 250ms;
}