
.section-advantages{
	padding-top: 94px;
	padding-bottom: 94px;
}

.section-advantages-list .title {
	color: var(--main-title-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}

.section-advantages-list .text {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
}

.section-advantages .grid-item {
	--grid-item:1;

	@media screen and (min-width:768px) {
		--grid-item:2;
	}

	@media screen and (min-width:1200px) {
		--grid-item:4;
	}
}

.section-advantages-item::before{
	content: " ";
	display: block;
	height: 120px;
	background-position: center;
	margin-bottom: 30px;
	background-color: var(--maim-bg-color);
	border-radius: 10px;
	background-repeat: no-repeat;
}

.antenna:before {
	background-image: url(../img/svg/antenna.svg);
}

.diagram:before{
	background-image: url(../img/svg/diagram.svg);
}

.clock:before {
	background-image: url(../img/svg/clock.svg);
}

.astronaut:before {
	background-image: url(../img/svg/astronaut.svg);
}
