.filter {
	padding-top: 94px;
	padding-bottom: 34px;
}

.filter-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	
	@media screen and (min-width:768px) {
		justify-content: center;
	}

}

.filter-list .item {
	margin-right: 10px;
	margin-top: 15px;
}