.footer {
	background: var(--accente-bg-color);
}

.footer-section-titlle {
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 14px;
	margin-bottom: 20px;
}

.footer .logo {
	color: var(--white-color);
	display: block;
	padding-top: 60px;
}

.footer-list {
	padding-top: 20px;
	padding-bottom: 60px;

	@media screen and (max-width:767px) {
		text-align: center;
	}
  
}

.link-adres {
	color: var(--white-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	text-decoration: none;
	transition: color var(--transform-time) linear;
}

.footer-list .link {
	color: rgba(255, 255, 255, 0.6);
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	transition: color var(--transform-time) linear;
}

.footer-list .link:hover,
.footer-list .link:focus,
.link-adres:hover,
.link-adres:focus {
	color: var(--main-accente-color);
}

.footer-list .item:not(:last-child) {
	padding-bottom: 10px;
}

.flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@media screen and (min-width:768px) {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: baseline;
	}

	@media screen and (min-width:1200px) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: baseline;
	}

}



.footer .grid {
	--grid-item: 3;
}

.adres {
	

	@media screen and (max-width:767px) {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
  
	@media screen and (min-width:768px) and (max-width:1199px) {
		
		flex-basis: calc(100% - 30px) / 2;
		text-align: center;

	}
  
	@media screen and (min-width:1200px) {
		flex-basis: calc(50% / 2 - 45px);
		
	}
}

.footer-social-list {
	

	@media screen and (max-width:767px) {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-bottom: 60px;
	}
  
	@media screen and (min-width:768px) and (max-width:1199px) {
		flex-basis: calc(100% - 30px) / 2;
		text-align: center;
	}	
  
	@media screen and (min-width:1200px) {
		flex-basis: calc(50% / 2 - 45px);
	}
}

.podpiska {
	
	@media screen and (max-width:767px) {
		text-align: center;
		flex-direction: column;
		width: 100%;
		
	}
	
  
	@media screen and (min-width:768px) and (max-width:1199px) {
		text-align: center;
	}
  
	@media screen and (min-width:1200px) {
		flex-basis: calc(50% - 15px);
	}
}		


.footer .button {

	@media screen and  (max-width:767px) {
		margin-top: 20px;
		margin-bottom: 30px;
		margin-right: auto;
		margin-left: auto;
	}

	@media screen and (min-width:768px) and (max-width:1199px) {
		margin-top: 20px;
		margin-bottom: 30px;
		margin-right: auto;
		margin-left: auto;
	}

	@media screen and (min-width:1200px) {
		
	}
	
}

.footer .social-link {
	background: rgba(255, 255, 255, 0.1);
}

.footer .social-link:hover,
.footer .social-link:focus {
	background: var(--main-accente-color);
} 